<#@ template language="C#" hostspecific="true" debug="True" #>
<#@ output extension=".cs" #>
<#@ assembly name="System.Core" #>
<#@ assembly name="System.Data" #>
<#@ assembly name="System.Xml" #>
<#@ assembly name="Microsoft.SqlServer.Smo" #>
<#@ assembly name="Microsoft.SqlServer.ConnectionInfo" #>
<#@ assembly name="Microsoft.SqlServer.Management.Sdk.Sfc" #>

<#@ import namespace="System" #>
<#@ import namespace="System.IO" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="Microsoft.SqlServer.Management.Smo" #>

<#@ import namespace="System.Data" #>
<#@ import namespace="System.Data.SqlClient" #>
<#@ import namespace="System.Collections.Generic" #>

<#

    //**********************************************************************************************
    // This T4 generates POCOs from the specified DB and saves them to the specified folder which 
    // is relative to the template's location. One file per table/POCO.
    //**********************************************************************************************
    //****************************
    // DEFINE YOUR VARIABLES HERE
    //****************************
    // The SQL server name or IP
    //string sqlServer = "localhost";
    //// The SQL username
    //string sqlLogin = "sa";
    //// The SQL password
    //string sqlPassword = "tsp";
    //// The SQL database to generate the POCOs for
    //string sqlDatabase = "tsolperu_sigescom_dev";
    //// The namespace to apply to the generated classes
    //string classNamespace = "Your.Namespace.Here";
    //// The destination folder for the generated classes, relative to this file's location.
    //string destinationFolder = "PocoFolder";
    //// Loop over each table and create a class file!
    //Server server = new Server(sqlServer);
    //server.ConnectionContext.LoginSecure = false;
    //server.ConnectionContext.Login = sqlLogin;
    //server.ConnectionContext.Password = sqlPassword;
    //server.ConnectionContext.Connect();

    string connectionString = "Data source=64.20.37.138;initial catalog=Oscar-gestionppp;persist security info=True;user id=usergestion;password=Gestion*ppp1;MultipleActiveResultSets=true";

    //string connectionString = "data source=localhost;initial catalog=tsolperu_siges_principal_tintoold;persist security info=True;user id=sa;password=tsp;MultipleActiveResultSets=true";

    int configuracionId;
    string configuracionColumnId = "id";
    string configuracionColumnName = "name";
    string parametroConfiguracionColumnId = "id";
    string parametroConfiguracionColumnName = "name";
    SqlConnection conn = new SqlConnection(connectionString);
    SqlConnection conn2 = new SqlConnection(connectionString);

    string configuracionQuery = string.Format("select {0}, {1}, {2} from {3} order by {0}", configuracionColumnId, configuracionColumnName, "description", "BusinessSetting");    
    SqlCommand configuracionCommand = new SqlCommand(configuracionQuery, conn2);
    conn.Open();
    conn2.Open();
    SqlDataReader configuracionReader = configuracionCommand.ExecuteReader();
    bool configuracionLoop = configuracionReader.Read();
#>

//------------------------------------------------------------------------------
// <auto-generated>
//     This code was generated from a template.//
//     Manual changes to this file may cause unexpected behavior in your application.
//     Manual changes to this file will be overwritten if the code is regenerated.
//     Author: TECH SOLUTIONS PERU EIRL
//     Developer: Ronald Ibarra
//     Generated at: <#=DateTime.Now#>
//     All Right reserved
// </auto-generated>
//------------------------------------------------------------------------------
using System;
using System.Data.SqlClient;
using System.Collections.Generic;
using System.Linq;

namespace Tsp.Sigescom.Config
{

<#
    List<string> configuraciones= new List<string>();

    while(configuracionLoop)
    {
        configuracionId= (int)configuracionReader[configuracionColumnId];        
        string parametroConfiguracionQuery = string.Format("select {0}, {1},{2},{3},{4} from {5} where businessSettingId={6} order by {0}", parametroConfiguracionColumnId, parametroConfiguracionColumnName, "value","description","dataType","BusinessSettingParameter",configuracionId);
        SqlCommand parametroConfiguracionCommand = new SqlCommand(parametroConfiguracionQuery, conn);
        SqlDataReader parametroConfiguracionReader = parametroConfiguracionCommand.ExecuteReader();
        bool parametroConfiguracionLoop = parametroConfiguracionReader.Read();
#>

<#        string className = (string)configuracionReader[configuracionColumnName];
        configuraciones.Add(className);

        var parametrosConfiguracion = new List<object>().Select(t => new { Id = default(int), Nombre = default(string), Valor=default(string) , Tipo=default(string), Descripcion=default(string)}).ToList(); 
#>

/// <summary>
///  <#=(string)configuracionReader["description"]#>
/// </summary>
public sealed class Local<#=className#>Settings
{
IDictionary<string, string> parametrosConfiguracion = new Dictionary<string, string>();




public Local<#=className#>Settings(string TenantConnectionString)
        {
SqlConnection conn = new SqlConnection(TenantConnectionString);
//List<object> parametrosConfiguracion = new List<object>().Select(t => new { Id = default(int), Nombre = default(string), Valor=default(string) , Tipo=default(string), Descripcion=default(string)}).ToList(); 
string configuracionQuery = string.Format("select {0}, {1},{2},{3},{4} from {5} where businessSettingId={6} order by {0}", "id", "name", "value","description","dataType","BusinessSettingParameter",<#= configuracionId#>);
SqlCommand parametroConfiguracionCommand = new SqlCommand(configuracionQuery, conn);
conn.Open();
        SqlDataReader parametroConfiguracionReader = parametroConfiguracionCommand.ExecuteReader();
        bool parametroConfiguracionLoop = parametroConfiguracionReader.Read();
        while(parametroConfiguracionLoop)
        {

            parametrosConfiguracion.Add(parametroConfiguracionReader["name"].ToString(),parametroConfiguracionReader["value"].ToString()); 
            parametroConfiguracionLoop = parametroConfiguracionReader.Read();
        }
conn.Close();





        }

<#


        while(parametroConfiguracionLoop)
        {
            string parametroConfiguracionColumnName_= parametroConfiguracionReader[parametroConfiguracionColumnName].ToString();
parametrosConfiguracion.Add(new { Id = (int)parametroConfiguracionReader["id"], Nombre = parametroConfiguracionColumnName_, Valor=parametroConfiguracionReader["value"].ToString(), Tipo=parametroConfiguracionReader["dataType"].ToString(), Descripcion=parametroConfiguracionReader["description"].ToString() }); 
  
 #>
<#            parametroConfiguracionLoop = parametroConfiguracionReader.Read();
        }
#>





<#foreach(var field in parametrosConfiguracion)
        {
#>
        /// <summary>
        ///  <#=field.Descripcion#>
        /// </summary>
        public <#=field.Tipo#> <#=field.Nombre#> {
            get {
                  <#            if(field.Tipo=="bool"){ #>  
        return parametrosConfiguracion["<#=field.Nombre#>"].ToString()=="1";

<#            } else{ #>
               return Convert.To<#=field.Tipo=="int"?"Int32": (field.Tipo=="bool")?"Boolean":char.ToUpper(field.Tipo[0]) + field.Tipo.Substring(1)#>(parametrosConfiguracion["<#=field.Nombre#>"]);
<#            } #>
               
            }
        }
<#}    #>
    

<#
        parametroConfiguracionReader.Close();
        configuracionLoop = configuracionReader.Read(); #>
}

<#
    }
#>

public partial class SettingsContainer
    {

       <#foreach(var NombreConfiguracion in configuraciones){
       
       #>
               public  Local<#= NombreConfiguracion#>Settings Local<#=NombreConfiguracion#>Settings;

    <#} #>             

        public SettingsContainer(string tenantConnectionString)
        {
             <#foreach(var NombreConfiguracion in configuraciones){
       
       #>
               Local<#=NombreConfiguracion#>Settings = new  Local<#=NombreConfiguracion#>Settings(tenantConnectionString);

    <#} #> 
        SetDictionaries();
        }
   }
}